{% extends '::base.html.twig' %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

{% block title %}Change password{% endblock %}

{% block content %}
  <p>Please type the new password.</p>

  {{ form(form) }}
{% endblock %}