{% extends '::base.html.twig' %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

{% block title %}Password request{% endblock %}

{% block content %}
  <p>Please type in your new password.</p>

  {{ form(form) }}
{% endblock %}