{% extends 'base.html.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="account">
          <h1>{{ account.username }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}